.recipe_img{
	border-radius: 5px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
  margin-right: 20px;
}
.recipetitle{
  position: absolute;
  top: 8px;
  left: 420px;
  font-size: 60px;
}
